<!DOCTYPE HTML>
<html>
<head>
<style type ="text/css">
    body {background-color: rgb(229,227,224);}

    h1 {font-family:'Trebuchet MS';}
    h1.LMenu{margin-right: 20px;margin-top: 4px; font-size:25px;}
    h1.RAppleInsider {margin-left: 10px;margin-top: 10px; font-size:30px;}
    h1.RAppleInsider span{color: rgb(149,149,149);}
    p#link {margin-right: 20px;line-height: 2px;}

    h2 {font-family:'Trebuchet MS';font-size:22px;margin-top: 29px;line-height: 24px;margin-left: 9.5px;letter-spacing: -0.2px;}
    p.title {font-family:'Trebuchet MS';font-size:19px;font-weight:600;color: rgb(208,208,208);letter-spacing: -0.5px;margin-left:374px;margin-top: -24px; }

    p.content{font-family:'Trebuchet MS';font-size:13px;font-weight:600;letter-spacing: -0.4px;margin-left: 10.5px;margin-top: -12px;}


    p3 {font-family:'Trebuchet MS';font-size:13px;font-weight:600;margin-left: 126px; letter-spacing: -0.04px;}

    a:link {color:rgb(100,100,100);font-family:'Trebuchet MS';font-weight:700;}
    a:visited {color:rgb(100,100,100);}
    a:hover {color:#FF704D;}

    #Page {
        margin:0 auto;
        width: 900px;
        height:474px;
    }

    #Menu {
       background:url(http://cs-server.usc.edu:45678/hw/hw3/images/side_top.png)top center no-repeat,
           url(http://cs-server.usc.edu:45678/hw/hw3/images/side_bottom.png)bottom center no-repeat;
       background-color: rgb(255,255,255);
       float:left;
       width:225px;height:205px;
       margin-top: 15px;
       margin-left: 35px;
       text-align:right;
       padding-top: 3px;
   }

    #AppleInsider{
        float:left;
        background:url(http://cs-server.usc.edu:45678/hw/hw3/images/header.png)top center no-repeat,
           url(http://cs-server.usc.edu:45678/hw/hw3/images/footer.png)bottom center no-repeat;
        margin-top: 15px;
        margin-left: 13px;

        background-color: rgb(255,255,255);
        width:562px;height:474px;
    }

</style>
    </head>
<body>
<title>TEST PAGE</title>
<div id="Page">
    <div id="Menu">
        <h1 class='LMenu'>Links</h1>
        <p id="link"><a href="https://chef.io" target="_blank">Chef Homepage</a> </p>
        <p id="link"><a href="https://docs.chef.io" target="_blank">Chef Docs</a> </p>
        <p id="link"><a href="https://github.com/chef" target="_blank">Chef Github</a> </p>
        <p id="link"><a href="http://inspec.io" target="_blank">InSpec Homepage</a></p>
    </div>

    <div id="AppleInsider">
      <h1 class='RAppleInsider'>Test<span>Page</span></h1>

        <img src="images/chef_logo.png" alt="https://chef.io">

<!---        <h2 style="margin-top:46px">Mozilla adds every version of Flash to default Firefox blocklist</h2>
        <p class="content">Firefox users awoke Wednesday to an update that blocks every version of Adobe's Flash <br>Player from running in the popular open-source browser, a victory for information security efforts following the unprecedented disclosure of numerous critical Flash vulnerabilities.</p><br> --->

        <p3><a href="https://chef.io" target="_blank">Chef Homepage</a> |
            <a href="https://docs.chef.io" target="_blank">Chef Docs</a> |
          <a href="https://github.com/chef" target="_blank">Chef Github</a> |
          <a href="http://inspec.io" target="_blank">InSpec Homepage</a> |
          <a href="https://github.com/shuyix511/SinglePage" target="_blank">Inspired from here</a>
        </p3>
    </div>
</div>



<noscript>
</body>
</html>
